<!DOCTYPE html> 
<html> 
    <head> <meta charset="utf-8"> 
        <title>Welcome to the MCU! Take a Quiz to See How Well You Know the MCU!</title>
    </head> 
    <body> 
        <h1>Welcome to the MCU!</h1>
        <h1>Take a Quiz to See How Well You Know the MCU!</h1>
        <form method="POST"> {% csrf_token %} 
            <div class="column" style="background-color:red;width:50%;"></div>
                <label for="movie"><b>In phase 1 of the MCU, what was the first move released?:</b></label><br> 
                <input type="checkbox" name="1_1" value="Iron Man">
                <label>Iron Man</label><br>
                <input type="checkbox" name="1_2" value="Captain America">
                <label>Captain America: The first Avenger</label><br>
                <input type="checkbox" name="1_3" value="Thor">
                <label>Thor</label><br>
                <input type="checkbox" name="1_4" value="Black Widow">
                <label>Black Widow</label><br>
            </div><br><br>
            <div>
                <label for="movie"><b>In chronological order, which movie is the first?:</b></label><br> 
                <input type="checkbox" name="2_1" value="Thor">
                <label>Thor</label><br>
                <input type="checkbox" name="2_2" value="Hulk">
                <label>Hulk</label><br>
                <input type="checkbox" name="2_3" value="Captain America">
                <label>Captain America: The first Avenger</label><br>
                <input type="checkbox" name="2_4" value="Iron Man">
                <label>Iron Man</label><br>
            </div><br><br>
            <div>
                <label for="movie"><b>Who is Wanda Maximoff?:</b></label><br>
                <input type="checkbox" name="3_1" value="Black Widow">
                <label>Black Widow</label><br>
                <input type="checkbox" name="3_2" value="Nebula">
                <label>Nebula</label><br>
                <input type="checkbox" name="3_3" value="Scarlett Witch">
                <label>Scarlett Witch</label><br>
                <input type="checkbox" name="3_4" value="Mantis">
                <label>Mantis</label><br>
            </div><br><br>
            <div>
                <label for="movie"><b>Where does the majority of the movie Avengers Age of Ultron take place?:</b></label><br>
                <input type="checkbox" name="4_1" value="Scotland">
                <label>Scotland</label><br>
                <input type="checkbox" name="4_2" value="Scandanavia">
                <label>Scandanavia</label><br>
                <input type="checkbox" name="4_3" value="Saudia Arabia">
                <label>Saudia Arabia</label><br>
                <input type="checkbox" name="4_4" value="Sokovia">
                <label>Sokovia</label><br>
            </div><br><br>
            <div>
                <label for="movie"><b>Who plays Yelena Romanoff?:</b></label><br>
                <input type="checkbox" name="5_1" value="Zendaya">
                <label>Zendaya</label><br>
                <input type="checkbox" name="5_2" value="Scarlett Johansson">
                <label>Scarlett Johansson</label><br>
                <input type="checkbox" name="5_3" value="Florence Pugh">
                <label>Florence Pugh</label><br>
                <input type="checkbox" name="5_4" value="Zoe Saldana">
                <label>Zoe Saldana</label><br>
            </div><br><br>
            <div>
                <label for="movie"><b>In which Spider-Man does Peter parker go on a school field trip to Italy?:</b></label><br>
                <input type="checkbox" name="6_1" value="Spiderman Homecoming">
                <label>Spiderman Homecoming</label><br>
                <input type="checkbox" name="6_2" value="Spiderman No Way Home">
                <label>Spiderman No Way Home</label><br>
                <input type="checkbox" name="6_3" value="Spiderman Home Forever">
                <label>Spiderman Home Forever</label><br>
                <input type="checkbox" name="6_4" value="Spiderman Far From Home">
                <label>Spiderman Far From Home</label><br>
            </div><br><br>
            <div>
                <label for="movie"><b>What is the iconic line Captain America says In Endgame?:</b></label><br>
                <input type="checkbox" name="7_1" value="I love you 6000">
                <label>I love you 6000</label><br>
                <input type="checkbox" name="7_2" value="I am Iron man">
                <label>Spider-Man: No Way Home</label><br>
                <input type="checkbox" name="7_3" value="Avengers Assemble">
                <label>Avengers Assemble</label><br>
                <input type="checkbox" name="7_4" value="Prepare for the end">
                <label>Prepare for the end</label><br>
            </div><br><br>
            <div>
                <label for="movie"><b>What was Iron Man's favorite food?:</b></label><br>
                <input type="checkbox" name="8_1" value="Pizza">
                <label>Pizza</label><br>
                <input type="checkbox" name="8_2" value="Mac n cheese">
                <label>Mac n cheese</label><br>
                <input type="checkbox" name="8_3" value="Cheeseburger">
                <label>Cheeseburger</label><br>
                <input type="checkbox" name="8_4" value="Wings">
                <label>Wings</label><br>
            </div><br><br>
            <div>
                <label for="movie"><b>In WandaVision, who was one of the villains?:</b></label><br>
                <input type="checkbox" name="9_1" value="Thanos">
                <label>Thanos</label><br>
                <input type="checkbox" name="9_2" value="Dormammu">
                <label>Dormammu</label><br>
                <input type="checkbox" name="9_3" value="Malekith">
                <label>Malekith</label><br>
                <input type="checkbox" name="9_4" value="Agatha Harkness">
                <label>Agatha Harkness</label><br>
            </div><br><br>
            <div>
                <label for="movie"><b>Which characters have died?:</b></label><br>
                <input type="checkbox" name="10_1" value="Iron man">
                <label>Iron man</label><br>
                <input type="checkbox" name="10_2" value="Black Widow">
                <label>Black Widow</label><br>
                <input type="checkbox" name="10_3" value="Phil Coulson">
                <label>Phil Coulson</label><br>
                <input type="checkbox" name="10_4" value="All of the above">
                <label>All of the above</label><br>
            </div><br><br>
            <input type="submit" value='Submit'> 
        </form> 
        {% if right_answers != "" %} <p>You got, {{ right_answers }} correct answers!</p> {% endif %}
        {% if right_answers >= "9" %} <p>You’ve been a part of the MCU for a while now, be honest how many times have you rewatched the movies? There’s never too many!</p> {% endif %}
        {% if right_answers >= "7" and right_answers <= "8" %} <p>You’re almost an expert you should be proud!</p> {% endif %}
        {% if right_answers >= "5" and right_answers <= "6" %} <p>You know a decent amount but who just wants to be decent at anything? Time to go study!</p> {% endif %}
        {% if right_answers >= "3" and right_answers <= "4" %} <p>You either have just a couple of the movies or you have a bad memory, time to rewatch!</p> {% endif %}
        {% if right_answers >= "0" and right_answers <= "2" %} <p>You must be a newbie to the MCU universe and that's ok! Time to have a marathon to catch up.</p> {% endif %}

        
    </body> 
</html>
